section.blog-details
	.container-medium
		.bredcrb
			a(href="index.html")
					+iconHome
			a(href="index.html") Блог
			a(href="#") Статья
		.blog-content
			.row
				.col-lg-8
					.blog-article
						.blog-img
							img(src="img/blog-detail-img.jpg", alt="img")
						h2 Standard Post Format
						ul.article-info
							li 20 September
							li 
								span Posted by 
								a(href="#!") David Richards
							li 
								span In: 
								a(href="#!") Graphic Design
							li Comments: 0
						.blog-text
							p Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant usus legentis in iis qui facit zzril delenit augue duis dolore te feugait nulla facilisi usus legentis in iis qui facit eorum.

							p Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore.

							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
						
				.d-none.d-lg-block.col-lg-4
					.page-sidebar
						.sidebar-block
							h3 Looking For A First
							nav
								a(href="#") Company overview
								a(href="#") Careers
								a(href="#") Company History
								a(href="#") Our approach
								a(href="#") Partners
						.sidebar-block
							h3 Looking For A First
							a(href="#").post-card
								.postimg
									img(src="img/mini-post.jpg", alt="post-img")
								.post-info
									p 6 October
									h4 Post with Gallery
									p Robin Miles
							a(href="#").post-card
								.postimg
									img(src="img/mini-post2.jpg", alt="post-img")
								.post-info
									p 6 October
									h4 Post with Gallery
									p Robin Miles
							a(href="#").post-card
								.postimg
									img(src="img/mini-post3.jpg", alt="post-img")
								.post-info
									p 6 October
									h4 Post with Gallery
									p Robin Miles

							button.btn Все новости
			
			.blog-stiky
				.blog-stiky__text
					blockquote
						p Qodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum quam nunc putamus claram est usus autem vel.
						h5 Kim maom
						span Marketing Envato Pty Ltd.
					.blog-article
						.blog-text
							p Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant usus legentis in iis qui facit autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla.
							.row
								.col-md-6
									.blog-img
										img(src="img/blog-img2.jpg", alt="img")
								.col-md-6
									.blog-img
										img(src="img/blog-img3.jpg", alt="img")
						
							p quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore.
						.blog-text
							p 
								img(src="img/blog-img4.jpg", alt="img" style="float:right")
								| Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant usus legentis in iis qui facit autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla.
								p Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc.

								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.

								p Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam.
					.share-block
						ul
							li
								span Теги:
								nav.tags-list
									a(href="#")  Graphic Design, 
									a(href="#") Photoshop, 
									a(href="#") Websites, 
									a(href="#") Photography, 
									a(href="#") Articles
							li 
								span Поделиться:
								nav.share-social
									a(href="#")
										i.fab.fa-vk
									a(href="#")
										i.fab.fa-vk
									a(href="#")
										i.fab.fa-vk
					.author-card
						.post-card.post-card--big
							.postimg
								img(src="img/author-img.jpg", alt="img")
							.post-info
								h4 David Richards
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
					.feedback-box
						h2 Leave a Comment
						form(action="").contact-form 
							.row
								.col-md-6
									.form-field
										input(type="text" name="userName" placeholder="Ваше имя")
								.col-md-6
									.form-field
										input(type="text" name="userEmail" placeholder="Ваш email *")
								.col-12
									.form-field
										input(type="text" name="website" placeholder="Website")
								.col-12
									.form-field
										textarea(name="message",  rows="3" placeholder="Сообщение")
								.col-12
									.form-btn
										button.btn отправить сообщение
									
				
				.aside-stiky
					.page-sidebar
						.sidebar-block
							h3 Tagcloud
							.radioblock
								label
									input(type="radio" name="tagType")
									.fake-radio Mock-Ups
								label
									input(type="radio" name="tagType")
									.fake-radio UI
									
								label
									input(type="radio" name="tagType")
									.fake-radio Websites
								label
									input(type="radio" name="tagType")
									.fake-radio PSD Template
								label
									input(type="radio" name="tagType")
									.fake-radio Branding
								label
									input(type="radio" name="tagType")
									.fake-radio WordPress
								label
									input(type="radio" name="tagType")
									.fake-radio Graphic Design
								label
									input(type="radio" name="tagType")
									.fake-radio UI Kit
								label
									input(type="radio" name="tagType")
									.fake-radio Development
								
						.sidebar-block
							h3 Looking For A First
							nav
								a(href="#") Company overview
								a(href="#") Careers
								a(href="#") Company History
								a(href="#") Our approach
								a(href="#") Partners	