section.blog-page
	.container-medium
		.bredcrb
			a(href="index.html")
				+iconHome
			a(href="#") Блог
			
		.page-content
			.row
				.col-md-6
					.blog-card
						a(href="blog-details.html").blog-card__img
							.blog-card-label
								p 23 мая 2020 / Брендинг
							.img-wr
								img(src="img/news1.png", alt="img")
						.blog-card__text
							a(href="blog-details.html") Зачем компании нужен брендинг и как создать успешный бренд
							p.text-16 Тем, кто работает в бизнесе, ориентированном на широкого потребителя, особенно — в сфере услуг, ответ на вопрос может показаться очевидным. Бренд — это торговая марка, фирменный знак.
				.col-md-6
					.blog-card
						a(href="blog-details.html").blog-card__img
							.blog-card-label
								p 23 мая 2020 / Брендинг
							.img-wr
								img(src="img/news2.png", alt="img")
						.blog-card__text
							a(href="blog-details.html") Зачем компании нужен брендинг и как создать успешный бренд
							p.text-16 Тем, кто работает в бизнесе, ориентированном на широкого потребителя, особенно — в сфере услуг, ответ на вопрос может показаться очевидным. Бренд — это торговая марка, фирменный знак.
				.col-md-6
					.blog-card
						a(href="blog-details.html").blog-card__img
							.blog-card-label
								p 23 мая 2020 / Брендинг
							.img-wr
								img(src="img/news3.png", alt="img")
						.blog-card__text
							a(href="blog-details.html") Зачем компании нужен брендинг и как создать успешный бренд
							p.text-16 Тем, кто работает в бизнесе, ориентированном на широкого потребителя, особенно — в сфере услуг, ответ на вопрос может показаться очевидным. Бренд — это торговая марка, фирменный знак.
				.col-md-6
					.blog-card
						a(href="blog-details.html").blog-card__img
							.blog-card-label
								p 23 мая 2020 / Брендинг
							.img-wr
								img(src="img/news4.png", alt="img")
						.blog-card__text
							a(href="blog-details.html") Зачем компании нужен брендинг и как создать успешный бренд
							p.text-16 Тем, кто работает в бизнесе, ориентированном на широкого потребителя, особенно — в сфере услуг, ответ на вопрос может показаться очевидным. Бренд — это торговая марка, фирменный знак.