section.clients
	.container
		+titleGroup('Готовые решения','Нам доверяют', 'Наши клиенты')
		.clients-slider.owl-carousel
			a(href="#!").clients-slider__item
				.clients-logo
					img(src="img/client1.png", width="116" alt="logo")
				.clients-name
					h4 Сайт для ресторана #[br] “Москва”
					p dostavka.moskva-rest.ru
			a(href="#!").clients-slider__item
				.clients-logo
					img(src="img/client2.png", width="116" alt="logo")
				.clients-name
					h4 Сайт для магазина #[br] “ПРОДУКТЪ”
					p produkt-magaz.ru
			a(href="#!").clients-slider__item
				.clients-logo
					img(src="img/client3.png", width="116" alt="logo")
				.clients-name
					h4 Сайт для юриста #[br] Александра Панфилова
					p semejny-urist.ru
			a(href="#!").clients-slider__item
				.clients-logo
					img(src="img/client4.png", width="116" alt="logo")
				.clients-name
					h4 Сайт для пиццерии #[br] ”Динопицца”
					p dinopizza.ru
			a(href="#!").clients-slider__item
				.clients-logo
					img(src="img/client1.png", width="116" alt="logo")
				.clients-name
					h4 Сайт для ресторана #[br] “Москва”
					p dostavka.moskva-rest.ru
			a(href="#!").clients-slider__item
				.clients-logo
					img(src="img/client2.png", width="116" alt="logo")
				.clients-name
					h4 Сайт для магазина #[br] “ПРОДУКТЪ”
					p produkt-magaz.ru
			a(href="#!").clients-slider__item
				.clients-logo
					img(src="img/client3.png", width="116" alt="logo")
				.clients-name
					h4 Сайт для юриста #[br] Александра Панфилова
					p semejny-urist.ru
			a(href="#!").clients-slider__item
				.clients-logo
					img(src="img/client4.png", width="116" alt="logo")
				.clients-name
					h4 Сайт для пиццерии #[br] ”Динопицца”
					p dinopizza.ru