section.faq-page
	.container-medium
		.bredcrb
			a(href="index.html")
					+iconHome
			a(href="index.html") Главная
			a(href="#") Ответы на вопросы
			
		.page-content
			#answers
				.card
					#headingOne.card-header
						h5
							button.btn-link(type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
								| Что лучше - купить сайт готовый или заказать с нуля? 
								span.arrow.rotate
									+arrow
					#collapseOne.collapsable.collapse.show(aria-labelledby="headingOne" data-parent="#answers")
						.card-body 	Мы делаем сайты таким образом, что все они адекватно индексируются любыми поисковыми системами и имеют хорошую скорость загрузки страниц. Так же вы получаете от нас поддержку по любому вопросу.
						
				.card
					#headingTwo.card-header
						
						h5
							button.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
								| Готовые решения - что это такое? 
								span.arrow
									+arrow
					#collapseTwo.collapsable.collapse(aria-labelledby="headingTwo" data-parent="#answers")
						.card-body Мы делаем сайты таким образом, что все они адекватно индексируются любыми поисковыми системами и имеют хорошую скорость загрузки страниц. Так же вы получаете от нас поддержку по любому вопросу.
							
				.card
					#headingThree.card-header
						h5
							button.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree")
								| Преимущества готовых сайтов
								span.arrow
									+arrow
					#collapseThree.collapsable.collapse(aria-labelledby="headingThree" data-parent="#answers")
						.card-body Мы делаем сайты таким образом, что все они адекватно индексируются любыми поисковыми системами и имеют хорошую скорость загрузки страниц. Так же вы получаете от нас поддержку по любому вопросу.
				.card
					#headingFour.card-header
						h5
							button.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour")
								| Сколько стоит создать сайт с нуля?
								span.arrow
									+arrow
					#collapseFour.collapsable.collapse(aria-labelledby="headingFour" data-parent="#answers")
						.card-body Мы делаем сайты таким образом, что все они адекватно индексируются любыми поисковыми системами и имеют хорошую скорость загрузки страниц. Так же вы получаете от нас поддержку по любому вопросу.

				.card
					#headingFive.card-header
						h5
							button.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive")
								| В чем отличие сайта на шаблоне от сайта с нуля?
								span.arrow
									+arrow
					#collapseFive.collapsable.collapse(aria-labelledby="headingFive" data-parent="#answers")
						.card-body Мы делаем сайты таким образом, что все они адекватно индексируются любыми поисковыми системами и имеют хорошую скорость загрузки страниц. Так же вы получаете от нас поддержку по любому вопросу.
				.card
					#headingSix.card-header
						h5
							button.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix")
								| Нужно ли, что то ещё доплачивать?
								span.arrow
									+arrow
					#collapseSix.collapsable.collapse(aria-labelledby="headingSix" data-parent="#answers")
						.card-body Мы делаем сайты таким образом, что все они адекватно индексируются любыми поисковыми системами и имеют хорошую скорость загрузки страниц. Так же вы получаете от нас поддержку по любому вопросу.
				.card
					#headingSeven.card-header
						h5
							button.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven")
								| Я совсем не понимаю в программировании. Смогу ли я управлять интернет-магазином?
								span.arrow
									+arrow
					#collapseSeven.collapsable.collapse(aria-labelledby="headingSeven" data-parent="#answers")
						.card-body Мы делаем сайты таким образом, что все они адекватно индексируются любыми поисковыми системами и имеют хорошую скорость загрузки страниц. Так же вы получаете от нас поддержку по любому вопросу.
							