footer.footer.text-center
	.container
		a(href="#" data-role="openPresentModal").footer-logo
			+footerLogo
		.desk-text
			p Преимущества готового сайта очевидны, т.к. многие этапы разработки сайта уже пройдены. Сроки и цена значительно ниже. Более того, Вам необходимо минимальное время на участие в процессе создания сайта, т.к. при индивидуальной разработке нужно учавствовать в каждом этапе. Купить готовый сайт - значит получить качественный сайт, сэкономить время и деньги.
		+social-icons
	.footer-copyright
		p &copy;Все права защищены 2020.<br class="mob-br"> #[span Mega magic] - Креативное агенство
//МОДАЛЬНОЕ МЕНЮ
.abs-wrapper.basketModal#basketModal
	.basketModal-content
		button.btn-close.basketModal-close
			i.fas.fa-times
		.basketModalForm-wrapper
			.modal-decore
				.decore1.decoreItem
					<svg width="97" height="98" viewBox="0 0 97 98" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="48.9208" cy="49.0357" r="29.9888" transform="rotate(-135.96 48.9208 49.0357)" stroke="#F2C94C" stroke-width="8"/>
					</svg>
				.decore2.decoreItem
					<svg width="77" height="76" viewBox="0 0 77 76" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="39.5095" cy="35.0445" r="22.5333" transform="rotate(-135.96 39.5095 35.0445)" stroke="#4855CA" stroke-width="4"/>
						<circle cx="37.8057" cy="41.2179" r="24.5333" transform="rotate(-135.96 37.8057 41.2179)" fill="#4855CA"/>
					</svg>
				.decore3.decoreItem
					<svg width="152" height="150" viewBox="0 0 152 150" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M64.3125 24.8464C67.5237 24.3179 70.741 24.0846 73.9299 24.1318L111.298 118.03C109.013 120.255 106.515 122.296 103.819 124.119L64.3125 24.8464ZM122.595 102.184C120.956 105.656 118.952 108.959 116.611 112.03L81.913 24.8397C85.7239 25.4624 89.449 26.4857 93.0256 27.8823L122.595 102.184ZM126.233 91.9746C128.895 81.2625 128.349 69.6458 123.956 58.6076C119.564 47.5695 111.978 38.7541 102.684 32.8002L126.233 91.9746ZM97.5685 127.764C96.2061 128.442 94.8045 129.069 93.3651 129.642C91.9256 130.215 90.4763 130.722 89.0205 131.166L48.7183 29.8944C50.0808 29.2163 51.4824 28.5891 52.9219 28.0163C54.3613 27.4435 55.8105 26.9361 57.2663 26.4926L97.5685 127.764ZM72.357 133.527C75.5459 133.574 78.7631 133.341 81.9743 132.812L42.4677 33.5398C39.7715 35.3623 37.2737 37.4034 34.9892 39.6287L72.357 133.527ZM53.2612 129.776C56.8378 131.173 60.563 132.196 64.3739 132.819L29.6754 45.6283C27.3345 48.6992 25.331 52.0022 23.692 55.4745L53.2612 129.776ZM20.0537 65.684C17.3918 76.396 17.9378 88.0127 22.3305 99.0508C26.7233 110.089 34.3084 118.904 43.6028 124.858L20.0537 65.684Z" fill="#F2C94C"/>
						<mask id="path-2-inside-1" fill="white">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M68.0279 18.4853C71.2391 17.9568 74.4564 17.7236 77.6453 17.7707L115.013 111.669C112.729 113.894 110.231 115.935 107.535 117.758L68.0279 18.4853ZM126.31 95.8229C124.671 99.2951 122.668 102.598 120.327 105.669L85.6284 18.4787C89.4393 19.1014 93.1645 20.1246 96.7411 21.5213L126.31 95.8229ZM129.949 85.6133C132.61 74.9013 132.064 63.2846 127.672 52.2466C123.279 41.2085 115.694 32.3931 106.4 26.4392L129.949 85.6133ZM101.284 121.403C99.9215 122.081 98.5198 122.708 97.0804 123.281C95.641 123.854 94.1917 124.361 92.7359 124.805L52.4337 23.5333C53.7961 22.8552 55.1978 22.2281 56.6372 21.6552C58.0766 21.0824 59.5259 20.5749 60.9817 20.1315L101.284 121.403ZM76.0724 127.166C79.2613 127.213 82.4785 126.979 85.6897 126.451L46.1831 27.1787C43.4869 29.0011 40.9891 31.0422 38.7046 33.2676L76.0724 127.166ZM56.9767 123.415C60.5533 124.812 64.2784 125.835 68.0893 126.458L33.3908 39.2671C31.0499 42.338 29.0464 45.641 27.4074 49.1133L56.9767 123.415ZM23.769 59.3227C21.1071 70.0348 21.6531 81.6516 26.0459 92.6897C30.4386 103.728 38.0238 112.543 47.3182 118.497L23.769 59.3227Z"/>
						</mask>
						<path d="M77.6453 17.7707L78.5745 17.4009L78.3276 16.7807L77.6601 16.7708L77.6453 17.7707ZM68.0279 18.4853L67.8656 17.4986L66.6393 17.7003L67.0988 18.855L68.0279 18.4853ZM115.013 111.669L115.711 112.385L116.189 111.919L115.942 111.299L115.013 111.669ZM107.535 117.758L106.605 118.127L107.065 119.282L108.095 118.586L107.535 117.758ZM120.327 105.669L119.398 106.039L120.051 107.68L121.122 106.275L120.327 105.669ZM126.31 95.8229L127.215 96.2497L127.4 95.8568L127.239 95.4531L126.31 95.8229ZM85.6284 18.4787L85.7897 17.4917L84.046 17.2068L84.6993 18.8484L85.6284 18.4787ZM96.7411 21.5213L97.6702 21.1515L97.5095 20.7478L97.1048 20.5898L96.7411 21.5213ZM129.949 85.6133L129.019 85.9831L130.169 88.8722L130.919 85.8545L129.949 85.6133ZM106.4 26.4392L106.939 25.5971L104.321 23.9199L105.47 26.8089L106.4 26.4392ZM101.284 121.403L101.729 122.298L102.553 121.888L102.213 121.033L101.284 121.403ZM92.7359 124.805L91.8068 125.175L92.147 126.029L93.0273 125.761L92.7359 124.805ZM52.4337 23.5333L51.9881 22.6381L51.1644 23.0481L51.5046 23.9031L52.4337 23.5333ZM60.9817 20.1315L61.9109 19.7618L61.5706 18.9068L60.6904 19.1749L60.9817 20.1315ZM85.6897 126.451L85.8521 127.438L87.0783 127.236L86.6188 126.081L85.6897 126.451ZM76.0724 127.166L75.1433 127.535L75.3901 128.156L76.0576 128.166L76.0724 127.166ZM46.1831 27.1787L47.1122 26.8089L46.6527 25.6542L45.6231 26.3502L46.1831 27.1787ZM38.7046 33.2676L38.0068 32.5512L37.5286 33.017L37.7754 33.6373L38.7046 33.2676ZM68.0893 126.458L67.928 127.445L69.6717 127.73L69.0184 126.088L68.0893 126.458ZM56.9767 123.415L56.0476 123.785L56.2082 124.189L56.6129 124.347L56.9767 123.415ZM33.3908 39.2671L34.3199 38.8974L33.6667 37.2558L32.5955 38.6609L33.3908 39.2671ZM27.4074 49.1133L26.5031 48.6864L26.3176 49.0793L26.4783 49.483L27.4074 49.1133ZM23.769 59.3227L24.6982 58.953L23.5484 56.0639L22.7986 59.0816L23.769 59.3227ZM47.3182 118.497L46.7788 119.339L49.3971 121.017L48.2473 118.127L47.3182 118.497ZM77.6601 16.7708C74.4124 16.7228 71.1359 16.9604 67.8656 17.4986L68.1903 19.472C71.3424 18.9533 74.5003 18.7243 77.6306 18.7706L77.6601 16.7708ZM115.942 111.299L78.5745 17.4009L76.7162 18.1404L114.084 112.038L115.942 111.299ZM108.095 118.586C110.84 116.73 113.384 114.651 115.711 112.385L114.315 110.952C112.073 113.137 109.621 115.14 106.975 116.929L108.095 118.586ZM67.0988 18.855L106.605 118.127L108.464 117.388L68.9571 18.1155L67.0988 18.855ZM121.122 106.275C123.506 103.148 125.546 99.785 127.215 96.2497L125.406 95.396C123.797 98.8052 121.83 102.048 119.532 105.063L121.122 106.275ZM84.6993 18.8484L119.398 106.039L121.256 105.299L86.5576 18.1089L84.6993 18.8484ZM97.1048 20.5898C93.4633 19.1677 89.6702 18.1258 85.7897 17.4917L85.4672 19.4656C89.2083 20.0769 92.8657 21.0815 96.3773 22.4528L97.1048 20.5898ZM127.239 95.4531L97.6702 21.1515L95.8119 21.891L125.381 96.1926L127.239 95.4531ZM130.919 85.8545C133.63 74.9463 133.073 63.1155 128.601 51.8768L126.743 52.6163C131.055 63.4537 131.591 74.8564 128.978 85.3722L130.919 85.8545ZM128.601 51.8768C124.128 40.6381 116.404 31.6601 106.939 25.5971L105.86 27.2812C114.984 33.1261 122.43 41.7789 126.743 52.6163L128.601 51.8768ZM105.47 26.8089L129.019 85.9831L130.878 85.2436L107.329 26.0694L105.47 26.8089ZM97.4501 124.21C98.9154 123.627 100.342 122.989 101.729 122.298L100.838 120.508C99.5006 121.174 98.1243 121.789 96.7106 122.352L97.4501 124.21ZM93.0273 125.761C94.5095 125.31 95.985 124.793 97.4501 124.21L96.7106 122.352C95.297 122.915 93.8739 123.413 92.4445 123.848L93.0273 125.761ZM51.5046 23.9031L91.8068 125.175L93.665 124.435L53.3629 23.1635L51.5046 23.9031ZM56.2674 20.7261C54.8022 21.3092 53.3753 21.9476 51.9881 22.6381L52.8793 24.4285C54.217 23.7627 55.5933 23.1469 57.007 22.5843L56.2674 20.7261ZM60.6904 19.1749C59.2081 19.6264 57.7326 20.143 56.2674 20.7261L57.007 22.5843C58.4206 22.0218 59.8437 21.5235 61.2731 21.0881L60.6904 19.1749ZM102.213 121.033L61.9109 19.7618L60.0526 20.5013L100.355 121.773L102.213 121.033ZM85.5273 125.464C82.3753 125.983 79.2173 126.212 76.0872 126.166L76.0576 128.166C79.3053 128.214 82.5818 127.976 85.8521 127.438L85.5273 125.464ZM45.254 27.5484L84.7605 126.821L86.6188 126.081L47.1122 26.8089L45.254 27.5484ZM39.4023 33.9839C41.6448 31.7995 44.0965 29.796 46.7431 28.0072L45.6231 26.3502C42.8772 28.2062 40.3334 30.2849 38.0068 32.5512L39.4023 33.9839ZM77.0015 126.796L39.6337 32.8978L37.7754 33.6373L75.1433 127.535L77.0015 126.796ZM68.2506 125.471C64.5094 124.859 60.8521 123.855 57.3404 122.484L56.6129 124.347C60.2545 125.769 64.0475 126.81 67.928 127.445L68.2506 125.471ZM32.4617 39.6369L67.1602 126.827L69.0184 126.088L34.3199 38.8974L32.4617 39.6369ZM28.3117 49.5401C29.9209 46.131 31.8879 42.8881 34.1861 39.8734L32.5955 38.6609C30.2118 41.7879 28.1718 45.1511 26.5031 48.6864L28.3117 49.5401ZM57.9058 123.045L28.3365 48.7435L26.4783 49.483L56.0476 123.785L57.9058 123.045ZM26.975 92.32C22.6621 81.4825 22.1263 70.0798 24.7395 59.5639L22.7986 59.0816C20.0878 69.9899 20.6441 81.8207 25.1167 93.0595L26.975 92.32ZM47.8576 117.655C38.7335 111.81 31.2879 103.157 26.975 92.32L25.1167 93.0595C29.5893 104.298 37.3142 113.276 46.7788 119.339L47.8576 117.655ZM22.8399 59.6925L46.3891 118.867L48.2473 118.127L24.6982 58.953L22.8399 59.6925Z" fill="#F2C94C" mask="url(#path-2-inside-1)"/>
						</svg>

			h2.basketModalForm-title Вы добавили товар в&nbsp;корзину!
			p.basketModalForm-subtitle Вы можете продолжить покупки или перейти в корзину для оформления заказа.
			.btn-box.mt-55
				a(href="#!").btn.btn--light.basketModal-close 
					span Продолжить покупки	
				a(href="#!").btn.w-330.btn-icon Перейти в корзину
					i.fas.fa-caret-right

//МОДАЛЬНОЕ МЕНЮ
.abs-wrapper.presentModal#presentModal
	.presentModal-content
		button.btn-close.presentModal-close
			i.fas.fa-times
		.presentModal-wrapper
			.presentModal-top
				.presentModal-top__content
					.presentModal-head
						h2.presentModal-title Заберите подарок!
						p.presentModal-subtitle Добавьте в форму свой Email адрес и мы отправим вам секреные видeо по SEO оптимизиции сайта для поисковых систем #[span.hide-mobile  Яндекс и Google]!
					form.presentModalForm(action="")
						.form-item
							input(type="text"  name="email" placeholder="Введите Ваш e-mail")
							.input-icon
								i.far.fa-envelope
			.presentModal-footer
				.presentModal-footer__content
					.modal-social
						+social-icons
					.modal-contacts
						.modal-contacts__icon
							img(src="img/icon@2x.png", width="70" alt="icon")
						.modal-contacts__text
							p info@megamagic.ru
							p онлайн поддержка