footer.footer.text-center
	.container
		a(href="#").footer-logo
			+footerLogo
		.desk-text
			p Преимущества готового сайта очевидны, т.к. многие этапы разработки сайта уже пройдены. Сроки и цена значительно ниже. Более того, Вам необходимо минимальное время на участие в процессе создания сайта, т.к. при индивидуальной разработке нужно учавствовать в каждом этапе. Купить готовый сайт - значит получить качественный сайт, сэкономить время и деньги.
		+social-icons
	.footer-copyright
		p &copy;Все права защищены 2020. #[span Mega magic] - Креативное агенство 