.header-fix
	.container
		.header-fix-content
			.header-top__col
				a(href="index.html").logo
					+logo
				.header-tel
					a(href="#!") +7 (908) 547-50-78
			
			.header-top__col
				// Кнопка Каталог в фиксирующейся шапке
				button.catalogy-btn.catalogy-btn-desktop(type='button')
					span.catalogy-btn-icon
						svg.svg-burger(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none')
							path(fill-rule='evenodd' clip-rule='evenodd' d='M14 3H5V4H14V3ZM14 12H5V13H14V12ZM5 7.5H14V8.5H5V7.5ZM3 7.5H2V8.5H3V7.5ZM2 3H3V4H2V3ZM3 12H2V13H3V12Z' fill='white')
							mask#mask0_1803_49205(style='mask-type:luminance' maskUnits='userSpaceOnUse' x='2' y='3' width='12' height='10')
								path(fill-rule='evenodd' clip-rule='evenodd' d='M14 3H5V4H14V3ZM14 12H5V13H14V12ZM5 7.5H14V8.5H5V7.5ZM3 7.5H2V8.5H3V7.5ZM2 3H3V4H2V3ZM3 12H2V13H3V12Z' fill='white')
							g(mask='url(#mask0_1803_49205)')
						svg.svg-close(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none')
							path(fill-rule='evenodd' clip-rule='evenodd' d='M8.707 8L12 4.707L11.293 4L8 7.293L4.707 4L4 4.707L7.293 8L4 11.293L4.707 12L8 8.707L11.293 12L12 11.293L8.707 8Z' fill='white')
							mask#mask0_1849_7984(style='mask-type:luminance' maskUnits='userSpaceOnUse' x='4' y='4' width='8' height='8')
								path(fill-rule='evenodd' clip-rule='evenodd' d='M8.707 8L12 4.707L11.293 4L8 7.293L4.707 4L4 4.707L7.293 8L4 11.293L4.707 12L8 8.707L11.293 12L12 11.293L8.707 8Z' fill='white')
							g(mask='url(#mask0_1849_7984)')
					span Каталог сайтов
			

				nav.nav-menu
					a(href="#!") Готовые сайты
					a(href="#!") Отзывы
					a(href="#!") Доп. отзывы
					a(href="#!") Вопрос / Ответ
					
				.btn-box
					a(href="#!").avatar-icon
						// ========== AVATAR SVG ==========
						+avatar
						// ========== END AVATAR SVG ==========

					a(href="#!").btn-round.mob-btn#mob-btn2
						// ========== GAMBURGER SVG ==========
						+menuIcon
						// ========== END GAMBURGER SVG ==========

.mobile-phone
	.header-tel
		a(href="#!") +7 (908) 547-50-78

// Большой Каталог
#header-catalogy.header-catalogy-wrapper
	.header-catalogy
		.catalog-menu-drop
			.catalog-mobile-header
				button.close-cat-menu Назад
				.catalog-title Категории
			ul.scroll-y
				// Мебель
				li.catalogy-category
					a(href='#!')
						img(src='./img/categories-img/mebel.png' width='28' height='22' alt='icon')
						span Мебель
					// ==== меню Уровень #2 =====
					.catalog-menu-submenu
						.catalog-mobile-header
							button.close-slide Назад
							.catalog-title Мебель
						ul.scroll-y
							// карточка-строка одного товара
							li.product-preview
								.product-preview__img
									img(src='./img/categories-img/cveti-poster.png' width='176' height='110' alt='img')
								.product-preview__title
									p Готовый сайт доставки цветов1
								.product-preview__col
									.price-medium
										.price-new 6 000 руб
										.price-old 50 000 руб
									a.btn-flex(href='#!')
										span Подробнее
										svg(xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none')
											path(d='M11 7L0.5 13.0622V0.937822L11 7Z')
							// карточка-строка одного товара
							li.product-preview
								.product-preview__img
									img(src='./img/categories-img/dostavkai-poster.png' width='176' height='110' alt='img')
								.product-preview__title
									p Готовый сайт доставки обедов
								.product-preview__col
									.price-medium
										.price-new 12 000 руб
										.price-old 45 000руб
									a.btn-flex(href='#!')
										span Подробнее
										svg(xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none')
											path(d='M11 7L0.5 13.0622V0.937822L11 7Z')
							// карточка-строка одного товара
							li.product-preview
								.product-preview__img
									img(src='./img/categories-img/product-poster.png' width='176' height='110' alt='img')
								.product-preview__title
									p Готовый сайт доставки продуктов
								.product-preview__col
									.price-medium
										.price-new 6 000 руб
										.price-old 40 000 руб
									a.btn-flex(href='#!')
										span Подробнее
										svg(xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none')
											path(d='M11 7L0.5 13.0622V0.937822L11 7Z')
				// Фото
				li.catalogy-category
					a(href='#!')
						img(src='./img/categories-img/foto.png' width='28' height='22' alt='icon')
						span Фотография
					// ==== меню Уровень #2 =====
					.catalog-menu-submenu
						ul.scroll-y
							// карточка-строка одного товара
							li.product-preview
								.product-preview__img
									img(src='./img/categories-img/foto-poster.png' width='176' height='110' alt='img')
								.product-preview__title
									p Сайт фотографа
								.product-preview__col
									.price-medium
										.price-new 6 000 руб
										.price-old 50 000 руб
									a.btn-flex(href='#!')
										span Подробнее
										svg(xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none')
											path(d='M11 7L0.5 13.0622V0.937822L11 7Z')
							// карточка-строка одного товара
							li.product-preview
								.product-preview__img
									img(src='./img/categories-img/pizza-poster.png' width='176' height='110' alt='img')
								.product-preview__title
									p Готовый сайт мебели2
								.product-preview__col
									.price-medium
										.price-new 12 000 руб
										.price-old 45 000руб
									a.btn-flex(href='#!')
										span Подробнее
										svg(xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none')
											path(d='M11 7L0.5 13.0622V0.937822L11 7Z')
							// карточка-строка одного товара
							li.product-preview
								.product-preview__img
									img(src='./img/categories-img/dostavka2-poster.png' width='176' height='110' alt='img')
								.product-preview__title
									p Готовый сайт доставки продуктов
								.product-preview__col
									.price-medium
										.price-new 6 000 руб
										.price-old 40 000 руб
									a.btn-flex(href='#!')
										span Подробнее
										svg(xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none')
											path(d='M11 7L0.5 13.0622V0.937822L11 7Z')
							// карточка-строка одного товара
							li.product-preview
								.product-preview__img
									img(src='./img/categories-img/foto-poster.png' width='176' height='110' alt='img')
								.product-preview__title
									p Сайт фотографа
								.product-preview__col
									.price-medium
										.price-new 6 000 руб
										.price-old 50 000 руб
									a.btn-flex(href='#!')
										span Подробнее
										svg(xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none')
											path(d='M11 7L0.5 13.0622V0.937822L11 7Z')
							// карточка-строка одного товара
							li.product-preview
								.product-preview__img
									img(src='./img/categories-img/pizza-poster.png' width='176' height='110' alt='img')
								.product-preview__title
									p Готовый сайт мебели
								.product-preview__col
									.price-medium
										.price-new 12 000 руб
										.price-old 45 000руб
									a.btn-flex(href='#!')
										span Подробнее
										svg(xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none')
											path(d='M11 7L0.5 13.0622V0.937822L11 7Z')
							// карточка-строка одного товара
							li.product-preview
								.product-preview__img
									img(src='./img/categories-img/dostavka2-poster.png' width='176' height='110' alt='img')
								.product-preview__title
									p Готовый сайт доставки продуктов
								.product-preview__col
									.price-medium
										.price-new 6 000 руб
										.price-old 40 000 руб
									a.btn-flex(href='#!')
										span Подробнее
										svg(xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none')
											path(d='M11 7L0.5 13.0622V0.937822L11 7Z')
				// Цветы
				li.catalogy-category
					a(href='#!')
						img(src='./img/categories-img/cveti.png' width='28' height='22' alt='icon')
						span Цветы
					// ==== меню Уровень #2 =====
					.catalog-menu-submenu
						ul.scroll-y
							// карточка-строка одного товара
							li.product-preview
								.product-preview__img
									img(src='./img/categories-img/cveti-poster.png' width='176' height='110' alt='img')
								.product-preview__title
									p Готовый сайт доставки цветов3
								.product-preview__col
									.price-medium
										.price-new 6 000 руб
										.price-old 50 000 руб
									a.btn-flex(href='#!')
										span Подробнее
										svg(xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none')
											path(d='M11 7L0.5 13.0622V0.937822L11 7Z')
							// карточка-строка одного товара
							li.product-preview
								.product-preview__img
									img(src='./img/categories-img/dostavka2-poster.png' width='176' height='110' alt='img')
								.product-preview__title
									p Готовый сайт доставки обедов
								.product-preview__col
									.price-medium
										.price-new 12 000 руб
										.price-old 45 000руб
									a.btn-flex(href='#!')
										span Подробнее
										svg(xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none')
											path(d='M11 7L0.5 13.0622V0.937822L11 7Z')
							// карточка-строка одного товара
							li.product-preview
								.product-preview__img
									img(src='./img/categories-img/foto-poster.png' width='176' height='110' alt='img')
								.product-preview__title
									p Готовый сайт доставки продуктов
								.product-preview__col
									.price-medium
										.price-new 6 000 руб
										.price-old 40 000 руб
									a.btn-flex(href='#!')
										span Подробнее
										svg(xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none')
											path(d='M11 7L0.5 13.0622V0.937822L11 7Z')
				// Юрист
				li.catalogy-category
					a(href='#!')
						img(src='./img/categories-img/urist.png' width='28' height='22' alt='icon')
						span Юристпруденция
					// ==== меню Уровень #2 =====
					.catalog-menu-submenu
						ul.scroll-y
							// карточка-строка одного товара
							li.product-preview
								.product-preview__img
									img(src='./img/categories-img/urist1-poster.png' width='176' height='110' alt='img')
								.product-preview__title
									p Готовый сайт доставки цветов4
								.product-preview__col
									.price-medium
										.price-new 6 000 руб
										.price-old 50 000 руб
									a.btn-flex(href='#!')
										span Подробнее
										svg(xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none')
											path(d='M11 7L0.5 13.0622V0.937822L11 7Z')
							// карточка-строка одного товара
							li.product-preview
								.product-preview__img
									img(src='./img/categories-img/urist2-poster.png' width='176' height='110' alt='img')
								.product-preview__title
									p Готовый сайт доставки обедов
								.product-preview__col
									.price-medium
										.price-new 12 000 руб
										.price-old 45 000руб
									a.btn-flex(href='#!')
										span Подробнее
										svg(xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none')
											path(d='M11 7L0.5 13.0622V0.937822L11 7Z')
							// карточка-строка одного товара
							li.product-preview
								.product-preview__img
									img(src='./img/categories-img/product-poster.png' width='176' height='110' alt='img')
								.product-preview__title
									p Готовый сайт доставки продуктов
								.product-preview__col
									.price-medium
										.price-new 6 000 руб
										.price-old 40 000 руб
									a.btn-flex(href='#!')
										span Подробнее
										svg(xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none')
											path(d='M11 7L0.5 13.0622V0.937822L11 7Z')
				// Перевозки
				li.catalogy-category
					a(href='#!')
						img(src='./img/categories-img/perevozki.png' width='28' height='22' alt='icon')
						span Перевозки
					// ==== меню Уровень #2 =====
					.catalog-menu-submenu
						ul.scroll-y
							// карточка-строка одного товара
							li.product-preview
								.product-preview__img
									img(src='./img/categories-img/cveti-poster.png' width='176' height='110' alt='img')
								.product-preview__title
									p Готовый сайт доставки цветов5
								.product-preview__col
									.price-medium
										.price-new 6 000 руб
										.price-old 50 000 руб
									a.btn-flex(href='#!')
										span Подробнее
										svg(xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none')
											path(d='M11 7L0.5 13.0622V0.937822L11 7Z')
							// карточка-строка одного товара
							li.product-preview
								.product-preview__img
									img(src='./img/categories-img/dostavka2-poster.png' width='176' height='110' alt='img')
								.product-preview__title
									p Готовый сайт доставки обедов
								.product-preview__col
									.price-medium
										.price-new 12 000 руб
										.price-old 45 000руб
									a.btn-flex(href='#!')
										span Подробнее
										svg(xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none')
											path(d='M11 7L0.5 13.0622V0.937822L11 7Z')
							// карточка-строка одного товара
							li.product-preview
								.product-preview__img
									img(src='./img/categories-img/urist1-poster.png' width='176' height='110' alt='img')
								.product-preview__title
									p Готовый сайт доставки продуктов
								.product-preview__col
									.price-medium
										.price-new 6 000 руб
										.price-old 40 000 руб
									a.btn-flex(href='#!')
										span Подробнее
										svg(xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none')
											path(d='M11 7L0.5 13.0622V0.937822L11 7Z')
				// Продукты
				li.catalogy-category
					a(href='#!')
						img(src='./img/categories-img/product.png' width='28' height='22' alt='icon')
						span Продукты питания
					// ==== меню Уровень #2 =====
					.catalog-menu-submenu
						ul.scroll-y
							// карточка-строка одного товара
							li.product-preview
								.product-preview__img
									img(src='./img/categories-img/pizza-poster.png' width='176' height='110' alt='img')
								.product-preview__title
									p Готовый сайт доставки цветов6
								.product-preview__col
									.price-medium
										.price-new 6 000 руб
										.price-old 50 000 руб
									a.btn-flex(href='#!')
										span Подробнее
										svg(xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none')
											path(d='M11 7L0.5 13.0622V0.937822L11 7Z')
							// карточка-строка одного товара
							li.product-preview
								.product-preview__img
									img(src='./img/categories-img/product-poster.png' width='176' height='110' alt='img')
								.product-preview__title
									p Готовый сайт доставки обедов
								.product-preview__col
									.price-medium
										.price-new 12 000 руб
										.price-old 45 000руб
									a.btn-flex(href='#!')
										span Подробнее
										svg(xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none')
											path(d='M11 7L0.5 13.0622V0.937822L11 7Z')
							// карточка-строка одного товара
							li.product-preview
								.product-preview__img
									img(src='./img/categories-img/cveti-poster.png' width='176' height='110' alt='img')
								.product-preview__title
									p Готовый сайт доставки продуктов
								.product-preview__col
									.price-medium
										.price-new 6 000 руб
										.price-old 40 000 руб
									a.btn-flex(href='#!')
										span Подробнее
										svg(xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none')
											path(d='M11 7L0.5 13.0622V0.937822L11 7Z')
				// Доставка
				li.catalogy-category
					a(href='#!')
						img(src='./img/categories-img/dostavka.png' width='28' height='22' alt='icon')
						span Доставка
					// ==== меню Уровень #2 =====
					.catalog-menu-submenu
						ul.scroll-y
							// карточка-строка одного товара
							li.product-preview
								.product-preview__img
									img(src='./img/categories-img/cveti-poster.png' width='176' height='110' alt='img')
								.product-preview__title
									p Готовый сайт доставки цветов7
								.product-preview__col
									.price-medium
										.price-new 6 000 руб
										.price-old 50 000 руб
									a.btn-flex(href='#!')
										span Подробнее
										svg(xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none')
											path(d='M11 7L0.5 13.0622V0.937822L11 7Z')
							// карточка-строка одного товара
							li.product-preview
								.product-preview__img
									img(src='./img/categories-img/dostavkai-poster.png' width='176' height='110' alt='img')
								.product-preview__title
									p Готовый сайт доставки обедов
								.product-preview__col
									.price-medium
										.price-new 12 000 руб
										.price-old 45 000руб
									a.btn-flex(href='#!')
										span Подробнее
										svg(xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none')
											path(d='M11 7L0.5 13.0622V0.937822L11 7Z')
							// карточка-строка одного товара
							li.product-preview
								.product-preview__img
									img(src='./img/categories-img/product-poster.png' width='176' height='110' alt='img')
								.product-preview__title
									p Готовый сайт доставки продуктов
								.product-preview__col
									.price-medium
										.price-new 6 000 руб
										.price-old 40 000 руб
									a.btn-flex(href='#!')
										span Подробнее
										svg(xmlns='http://www.w3.org/2000/svg' width='11' height='14' viewBox='0 0 11 14' fill='none')
											path(d='M11 7L0.5 13.0622V0.937822L11 7Z')





header.header
	.container-fluid
		+headerNav
	.container.container--rel
		.header-content
			.header-text
				h1.title-1 Продаем готовые <br> сайты "под ключ"
				p.header-subtitle.text-20 для Юристов и Адвокатов, Фотографов, Доставки еды и обедов, Пиццы и Роллов, Флористов и магазинов Цветов
				// ======links block ===========
				.header-links
					p.text-20 А так же:
					.header-link-block
						// ====== one link ===========
						a(href="#!").header-links__item
							span
								svg(width='45' height='45' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg')
									g(clip-path='url(#clipl1)')
										path(d='M44.0625 43.1251H0.937529C0.420029 43.1251 0 43.545 0 44.0625C0 44.58 0.420029 45 0.937529 45H44.0626C44.5801 45 45.0001 44.58 45.0001 44.0625C45 43.545 44.58 43.1251 44.0625 43.1251Z' fill='#3DBEE3')
										path(d='M8.43802 31.8751H2.81302C2.29552 31.8751 1.87549 32.2951 1.87549 32.8126V44.0626C1.87549 44.58 2.29552 45 2.81302 45H8.43802C8.95552 45 9.37555 44.58 9.37555 44.0625V32.8125C9.37555 32.295 8.95552 31.8751 8.43802 31.8751ZM7.50049 43.1251H3.75055V33.75H7.50058V43.1251H7.50049Z' fill='#3DBEE3')
										path(d='M19.688 22.5H14.063C13.5455 22.5 13.1255 22.92 13.1255 23.4375V44.0626C13.1255 44.5801 13.5455 45.0001 14.063 45.0001H19.688C20.2055 45.0001 20.6255 44.5801 20.6255 44.0626V23.4375C20.6255 22.92 20.2055 22.5 19.688 22.5ZM18.7505 43.125H15.0005V24.375H18.7505V43.125Z' fill='#3DBEE3')
										path(d='M30.938 26.2501H25.313C24.7955 26.2501 24.3755 26.6701 24.3755 27.1876V44.0626C24.3755 44.5801 24.7955 45.0001 25.313 45.0001H30.938C31.4555 45.0001 31.8755 44.5801 31.8755 44.0626V27.1876C31.8755 26.67 31.4555 26.2501 30.938 26.2501ZM30.0005 43.1251H26.2505V28.125H30.0005V43.1251Z' fill='#3DBEE3')
										path(d='M42.188 15.0001H36.563C36.0455 15.0001 35.6255 15.4201 35.6255 15.9376V44.0626C35.6255 44.5801 36.0455 45.0001 36.563 45.0001H42.188C42.7055 45.0001 43.1255 44.5801 43.1255 44.0626V15.9376C43.1255 15.42 42.7055 15.0001 42.188 15.0001ZM41.2505 43.1251H37.5005V16.875H41.2505V43.1251Z' fill='#3DBEE3')
										path(d='M5.62552 16.875C3.55736 16.875 1.87549 18.5569 1.87549 20.625C1.87549 22.6932 3.55736 24.3751 5.62552 24.3751C7.69367 24.3751 9.37555 22.6932 9.37555 20.625C9.37555 18.5569 7.69367 16.875 5.62552 16.875ZM5.62552 22.5C4.59052 22.5 3.75055 21.6581 3.75055 20.625C3.75055 19.5919 4.59052 18.7501 5.62552 18.7501C6.66052 18.7501 7.50049 19.592 7.50049 20.625C7.50049 21.6581 6.66052 22.5 5.62552 22.5Z' fill='#3DBEE3')
										path(d='M16.8755 7.49994C14.8074 7.49994 13.1255 9.18181 13.1255 11.25C13.1255 13.3181 14.8074 15 16.8755 15C18.9437 15 20.6255 13.3181 20.6255 11.25C20.6255 9.18181 18.9437 7.49994 16.8755 7.49994ZM16.8755 13.1249C15.8405 13.1249 15.0005 12.283 15.0005 11.25C15.0005 10.2168 15.8405 9.375 16.8755 9.375C17.9105 9.375 18.7505 10.2169 18.7505 11.25C18.7505 12.2831 17.9105 13.1249 16.8755 13.1249Z' fill='#3DBEE3')
										path(d='M28.1255 11.25C26.0574 11.25 24.3755 12.9319 24.3755 15C24.3755 17.0682 26.0574 18.7501 28.1255 18.7501C30.1937 18.7501 31.8755 17.0682 31.8755 15C31.8755 12.9319 30.1937 11.25 28.1255 11.25ZM28.1255 16.875C27.0905 16.875 26.2505 16.0331 26.2505 15C26.2505 13.9669 27.0905 13.1251 28.1255 13.1251C29.1605 13.1251 30.0005 13.967 30.0005 15C30.0005 16.0331 29.1605 16.875 28.1255 16.875Z' fill='#3DBEE3')
										path(d='M39.3755 0C37.3074 0 35.6255 1.68188 35.6255 3.75003C35.6255 5.81818 37.3074 7.50006 39.3755 7.50006C41.4437 7.50006 43.1255 5.81818 43.1255 3.75003C43.1255 1.68188 41.4437 0 39.3755 0ZM39.3755 5.625C38.3405 5.625 37.5005 4.7831 37.5005 3.75003C37.5005 2.71688 38.3405 1.87506 39.3755 1.87506C40.4105 1.87506 41.2505 2.71696 41.2505 3.75003C41.2505 4.7831 40.4105 5.625 39.3755 5.625Z' fill='#3DBEE3')
										path(d='M38.0501 5.07378C37.6845 4.70815 37.0901 4.70815 36.7245 5.07378L29.4495 12.3487C29.0839 12.7144 29.0839 13.3088 29.4495 13.6744C29.6333 13.8562 29.8732 13.9482 30.1133 13.9482C30.3514 13.9482 30.5914 13.8582 30.7752 13.6744L38.0501 6.39943C38.4158 6.03381 38.4158 5.4394 38.0501 5.07378Z' fill='#3DBEE3')
										path(d='M25.8572 12.8362L19.8346 11.1188C19.3302 10.9725 18.8184 11.265 18.6777 11.7638C18.5353 12.2626 18.824 12.7801 19.3208 12.9226L25.3434 14.64C25.4296 14.6644 25.5159 14.6756 25.6003 14.6756C26.009 14.6756 26.384 14.4075 26.5021 13.995C26.6447 13.4981 26.3559 12.9787 25.8572 12.8362Z' fill='#3DBEE3')
										path(d='M15.4131 12.4181C15.0907 12.0131 14.5019 11.9474 14.0969 12.268L7.02809 17.9043C6.62309 18.2287 6.55559 18.8174 6.87999 19.2224C7.06562 19.4548 7.3394 19.5749 7.61309 19.5749C7.81743 19.5749 8.02371 19.5074 8.19624 19.3724L15.265 13.7362C15.67 13.4117 15.7375 12.8231 15.4131 12.4181Z' fill='#3DBEE3')
									defs
										clippath#clipl1
											rect(width='45' height='45' fill='white')
							h4 Продвижение
							p Продвижение сайтов <br> в&nbsp;поисковых системах
							
						// ====== one link ===========
						a(href="#!").header-links__item
							span
								svg(width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M29.4604 19.0887C28.9245 19.0887 28.4899 19.5233 28.4899 20.0592V20.073C28.4899 20.6089 28.9244 21.0434 29.4604 21.0434C29.9962 21.0434 30.4308 20.6089 30.4308 20.073V20.0592C30.4308 19.5232 29.9963 19.0887 29.4604 19.0887Z' fill='#3DBEE3')
									path(d='M35.0567 23.365V15.3996C35.0567 15.0918 34.9107 14.8023 34.6633 14.6193C34.4159 14.4364 34.0963 14.3814 33.8021 14.4717L12.0379 21.1369H6.48359C2.90859 21.1369 0 24.0453 0 27.6204C0 31.003 2.6043 33.7872 5.91289 34.0773L8.04893 44.3182C8.4 46.0016 9.90303 47.2235 11.6227 47.2235C12.7266 47.2235 13.7591 46.7322 14.4554 45.8756C15.1517 45.019 15.4218 43.9081 15.1963 42.8273L14.7282 40.5835C16.7753 39.9517 18.3262 38.2519 18.7774 36.1678L33.8019 40.7689C33.895 40.7974 33.9907 40.8114 34.0859 40.8114C34.2913 40.8114 34.494 40.7461 34.6631 40.6211C34.9105 40.4381 35.0565 40.1486 35.0565 39.8409V31.8754C36.998 31.4329 38.4517 29.6937 38.4517 27.6202C38.4517 25.5468 36.998 23.8077 35.0567 23.365ZM6.48359 32.1627C3.97871 32.1627 1.94092 30.125 1.94092 27.6203C1.94092 25.1154 3.97881 23.0777 6.48359 23.0777H11.2126V32.1628H6.70732H6.48359V32.1627ZM12.9495 44.6513C12.6234 45.0525 12.1397 45.2826 11.6228 45.2826C10.8174 45.2826 10.1135 44.7104 9.94902 43.9219L7.90107 34.1037H11.3942L12.6342 40.0483C12.6344 40.049 12.6345 40.0498 12.6347 40.0504L13.2965 43.2236C13.4021 43.7297 13.2756 44.2501 12.9495 44.6513ZM14.3296 38.6711L13.4683 34.5417L16.9126 35.5965C16.6668 37.0118 15.6722 38.1878 14.3296 38.6711ZM33.1158 38.5288L30.4311 37.7066V23.9507C30.4311 23.4149 29.9965 22.9802 29.4606 22.9802C28.9248 22.9802 28.4902 23.4148 28.4902 23.9507V37.1123L18.3756 34.0147C18.2814 33.9676 18.1787 33.9354 18.0702 33.9211L13.1537 32.4155V22.825L33.1159 16.7118V38.5288H33.1158ZM35.0566 29.8414V25.3992C35.9117 25.7742 36.5106 26.6284 36.5106 27.6203C36.5106 28.6122 35.9117 29.4664 35.0566 29.8414Z' fill='#3DBEE3')
									path(d='M45.5856 26.6498H41.2573C40.7214 26.6498 40.2867 27.0843 40.2867 27.6203C40.2867 28.1561 40.7213 28.5907 41.2573 28.5907H45.5856C46.1214 28.5907 46.556 28.1561 46.556 27.6203C46.556 27.0843 46.1214 26.6498 45.5856 26.6498Z' fill='#3DBEE3')
									path(d='M42.8165 19.1634C42.5007 18.7303 41.8934 18.6355 41.4606 18.9513L39.2826 20.5399C38.8496 20.8557 38.7545 21.4628 39.0704 21.8958C39.2603 22.1564 39.5557 22.2944 39.8551 22.2944C40.0535 22.2944 40.2537 22.2338 40.4262 22.1079L42.6042 20.5193C43.0374 20.2035 43.1324 19.5964 42.8165 19.1634Z' fill='#3DBEE3')
									path(d='M42.6043 34.7213L40.4395 33.1424C40.0066 32.8266 39.3994 32.9215 39.0836 33.3546C38.7677 33.7876 38.8628 34.3947 39.2958 34.7105L41.4605 36.2893C41.6331 36.4152 41.8332 36.4759 42.0316 36.4759C42.3311 36.4759 42.6266 36.3376 42.8164 36.0772C43.1324 35.6441 43.0373 35.037 42.6043 34.7213Z' fill='#3DBEE3')
									path(d='M44.2147 6.2702H24.0714C23.5355 6.2702 23.101 6.70477 23.101 7.24061C23.101 7.77645 23.5355 8.21102 24.0714 8.21102H44.2147C44.7506 8.21102 45.1852 7.77645 45.1852 7.24061C45.1852 6.70477 44.7507 6.2702 44.2147 6.2702Z' fill='#3DBEE3')
									path(d='M14.2322 6.55458C14.0516 6.37411 13.8014 6.2702 13.5461 6.2702C13.2908 6.2702 13.0405 6.37391 12.86 6.55458C12.6786 6.73505 12.5756 6.98544 12.5756 7.24071C12.5756 7.49598 12.6785 7.74628 12.86 7.92675C13.0404 8.10721 13.2908 8.21122 13.5461 8.21122C13.8014 8.21122 14.0516 8.10741 14.2322 7.92675C14.4127 7.74637 14.5166 7.49598 14.5166 7.24071C14.5166 6.98544 14.4128 6.73505 14.2322 6.55458Z' fill='#3DBEE3')
									path(d='M10.6654 6.55458C10.4849 6.37411 10.2347 6.2702 9.9793 6.2702C9.72402 6.2702 9.47373 6.37391 9.29326 6.55458C9.11279 6.73505 9.00879 6.98544 9.00879 7.24071C9.00879 7.49598 9.1126 7.74628 9.29326 7.92675C9.47363 8.10721 9.72402 8.21122 9.9793 8.21122C10.2347 8.21122 10.4849 8.10741 10.6654 7.92675C10.8459 7.74637 10.9498 7.49598 10.9498 7.24071C10.9498 6.98544 10.846 6.73505 10.6654 6.55458Z' fill='#3DBEE3')
									path(d='M17.7989 6.55458C17.6174 6.37401 17.3681 6.2702 17.1127 6.2702C16.8566 6.2702 16.6072 6.37391 16.4257 6.55458C16.2452 6.73505 16.1422 6.98544 16.1422 7.24071C16.1422 7.49598 16.2451 7.74628 16.4257 7.92675C16.6071 8.10721 16.8565 8.21122 17.1127 8.21122C17.3681 8.21122 17.6173 8.10741 17.7989 7.92675C17.9793 7.74637 18.0832 7.49598 18.0832 7.24071C18.0832 6.98544 17.9794 6.73505 17.7989 6.55458Z' fill='#3DBEE3')
									path(d='M45.9233 2.77667H8.26961C6.02214 2.77667 4.19373 4.60509 4.19373 6.85255V20.1478C4.19373 20.6836 4.6283 21.1182 5.16414 21.1182C5.69998 21.1182 6.13455 20.6836 6.13455 20.1478V16.37H12.1822C12.718 16.37 13.1527 15.9355 13.1527 15.3996C13.1527 14.8638 12.7181 14.4291 12.1822 14.4291H6.13464V11.7042C6.13826 11.7042 6.14177 11.7048 6.14519 11.7048H48.0583V36.9366C48.0583 38.1139 47.1006 39.0716 45.9233 39.0716H38.192C37.6561 39.0716 37.2215 39.5062 37.2215 40.0421C37.2215 40.578 37.656 41.0125 38.192 41.0125H45.9233C48.1708 41.0125 49.9992 39.1841 49.9992 36.9366V6.85255C49.9992 4.60509 48.1708 2.77667 45.9233 2.77667ZM48.0583 9.76398H6.14519C6.14158 9.76398 6.13806 9.76447 6.13464 9.76456V6.85255C6.13464 5.67531 7.09236 4.71759 8.26961 4.71759H45.9233C47.1006 4.71759 48.0583 5.67531 48.0583 6.85255V9.76398Z' fill='#3DBEE3')
									path(d='M16.0159 14.7132C15.8355 14.5327 15.5852 14.4287 15.3299 14.4287C15.0746 14.4287 14.8243 14.5325 14.6437 14.7132C14.4633 14.8936 14.3594 15.1439 14.3594 15.3992C14.3594 15.6546 14.4631 15.9049 14.6437 16.0854C14.8242 16.2668 15.0746 16.3697 15.3299 16.3697C15.5852 16.3697 15.8354 16.267 16.0159 16.0854C16.1964 15.905 16.3004 15.6546 16.3004 15.3992C16.3004 15.1439 16.1965 14.8936 16.0159 14.7132Z' fill='#3DBEE3')

							h4 Реклама
							p Настройка рекламы в Яндекс <br> директ и Google AdWords
						
				//- a(href="#!" data-aos="fade-up" data-aos-duration='500' data-aos-delay='1500').btn.btn-icon Смотреть от 6000 руб.
				//- 	i.fas.fa-caret-right
			.row
				.col-xl-6.offset-xl-6
					.header-image
						.parallax-item
							img(src="img/layout1.png", alt="img" data-aos="fade-down" data-aos-duration='500' data-aos-delay='1000')
						img(src="img/main.png", alt="img" )
	
	//МОДАЛЬНОЕ ОКНО ПОИСКА
	.abs-wrapper.search-modal#search-modal
		.container
			button.btn-close.close-search
				i.fas.fa-times

			form(action="#")
				.form-field
					input(type="text" name="searchInput" placeholder="Введите текст...")
					button
						i.fas.fa-search
	
	//МОДАЛЬНОЕ МЕНЮ
	.abs-wrapper.mob-menu#mob-menu
		.container
			button.btn-close.close-menu
				i.fas.fa-times
			nav
				a(href="index.html") Главная
				a(href="index.html#aboutus") О нас
				a(href="#!" class="show-catslider") Каталог сайтов
				a(href="blog.html") Блог
				a(href="contacts.html") Контакты
	
	
	
	