.header-fix
	.container
		.header-fix-content
			a(href="index.html").logo
				+logo
			nav
				a(href="#") Главная
				a(href="#") О нас
				a(href="portfolio.html") Портфолио
				a(href="blog.html") Блог
				a(href="#") Контакты

header.header
	.container-fluid
		.header-top
			a(href="index.html").logo
				+logo
			nav.nav-menu
				a(href="#") Главная
				a(href="#") О нас
				a(href="portfolio.html") Портфолио
				a(href="blog.html") Блог
				a(href="#") Контакты
			.btn-box
				a(href="#!").btn-round.show-search#show-search
					i.fas.fa-search

				a(href="#!").btn-round.mob-btn#mob-btn
					+menuIcon
	.container.container--rel
		.header-content
			.header-text
				h1.title-1(data-aos="zoom-up" data-aos-duration='800' data-aos-delay='500') Продаем <br> готовые сайты <br>"под ключ"
				a(href="#!" data-aos="fade-up" data-aos-duration='500' data-aos-delay='1500').btn.btn-icon Смотреть от 6000 руб.
					i.fas.fa-caret-right
			.row
				.col-xl-6.offset-xl-6
					.header-image
						.parallax-item
							img(src="img/layout1.png", alt="img" data-aos="fade-down" data-aos-duration='500' data-aos-delay='1000')
						img(src="img/main.png", alt="img" data-aos="fade-up" data-aos-duration='500')
	
	//МОДАЛЬНОЕ ОКНО ПОИСКА
	.abs-wrapper.search-modal#search-modal
		.container
			button.btn-close.close-search
				i.fas.fa-times

			form(action="#")
				.form-field
					input(type="text" name="searchInput" placeholder="Введите текст...")
					button
						i.fas.fa-search
	
	//МОБИЛЬНОЕ МЕНЮ
	.abs-wrapper.mob-menu#mob-menu
		.container
			button.btn-close.close-menu
				i.fas.fa-times
			nav
				a(href="#") Главная
				a(href="#") О нас
				a(href="#") Портфолио
				a(href="#") Блог
				a(href="#") Контакты