mixin aboutListItem(num, text)
	li
		span #{num}
		p.trxt-16 #{text}

section.about
	.container
		.about-content
			.row
				.col-lg-6
					.block-img
						img(src="img/about.png", alt="img")
				.col-lg-6.col-xl-5
					.block-list
						h2.title-2 Кто мы, и что мы делаем для вас?
						.block-list--about
							.decor-arr
								img(src="img/arrow.png", alt="decor-img")
							ul
								+aboutListItem('01', 'Таким образом постоянный количественный рост и сфера нашей активности требуют от нас анализа системы обучения кадров, соответствует насущным потребностям.')
								+aboutListItem('02', 'Значимость этих проблем настолько очевидна, что рамки и место обучения кадров играет важную роль в формировании существенных финансовых и административных условий.')
								+aboutListItem('03', 'Задача организации, в особенности же реализация намеченных плановых заданий позволяет оценить значение форм развития. Идейные соображения высшего порядка, а также новая модель.')
								+aboutListItem('04', 'Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.')
		.benefits
			.row
				.col-md-4.col-lg-4
					.benefits-item
						.benefits-item__icon
							img(src="img/ic1.png", alt="icon")
						.benefits-item__text
							h3 Вы приобретаете полностью готовый к работе продукт
							p.text-16 Таким образом постоянный количественный рост и сфера нашей активности требуют
				.col-md-4.col-lg-4
					.benefits-item
						.benefits-item__icon
							img(src="img/ic2.png", alt="icon")
						.benefits-item__text
							h3 Наши сайты хороши на любых устройствах
							p.text-16 Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности позволяет оценить
				.col-md-4.col-lg-4
					.benefits-item
						.benefits-item__icon
							img(src="img/ic3.png", alt="icon")
						.benefits-item__text
							h3 Мы оказываем поддержку вашего сайта
							p.text-16 Задача организации, в особенности же реализация намеченных плановых заданий позволяет 