section.blog
	.container
		+titleGroup('Блог', 'Актуальные новости','Изучайте лучшее')
		.blog-content
			.row
				.col-md-6.col-xl-5.offset-xl-1
					.blog-card
						a(href="#").blog-card__img
							.blog-card-label
								p 23 мая 2020 / Брендинг
							.img-wr
								img(src="img/news1.png", alt="img")
						.blog-card__text
							a(href="#!") Зачем компании нужен брендинг и как создать успешный бренд
							p.text-16 Тем, кто работает в бизнесе, ориентированном на широкого потребителя, особенно — в сфере услуг, ответ на вопрос может показаться очевидным. Бренд — это торговая марка, фирменный знак.
				.col-md-6.col-xl-5
					.blog-card
						a(href="#").blog-card__img
							.blog-card-label
								p 23 мая 2020 / Брендинг
							.img-wr
								img(src="img/news2.png", alt="img")
						.blog-card__text
							a(href="#!") Зачем компании нужен брендинг и как создать успешный бренд
							p.text-16 Тем, кто работает в бизнесе, ориентированном на широкого потребителя, особенно — в сфере услуг, ответ на вопрос может показаться очевидным. Бренд — это торговая марка, фирменный знак.
				.col-md-6.col-xl-5.offset-xl-1
					.blog-card
						a(href="#").blog-card__img
							.blog-card-label
								p 23 мая 2020 / Брендинг
							.img-wr
								img(src="img/news3.png", alt="img")
						.blog-card__text
							a(href="#!") Зачем компании нужен брендинг и как создать успешный бренд
							p.text-16 Тем, кто работает в бизнесе, ориентированном на широкого потребителя, особенно — в сфере услуг, ответ на вопрос может показаться очевидным. Бренд — это торговая марка, фирменный знак.
				.col-md-6.col-xl-5
					.blog-card
						a(href="#").blog-card__img
							.blog-card-label
								p 23 мая 2020 / Брендинг
							.img-wr
								img(src="img/news4.png", alt="img")
						.blog-card__text
							a(href="#!") Зачем компании нужен брендинг и как создать успешный бренд
							p.text-16 Тем, кто работает в бизнесе, ориентированном на широкого потребителя, особенно — в сфере услуг, ответ на вопрос может показаться очевидным. Бренд — это торговая марка, фирменный знак.
					
