section.portfolio
	.container
		+titleGroup('Наши сайты','Наши сайты', 'Делаем лучшее')
		.portfolio-block
			.row
				.col-md-4
					.portfolio-card
						.portfolio-card__img
							a(href="project-pizza.html" target="_blank" style="background-color: rgba(255, 176, 167, .9);").portfolio-card__hover
								span.btn-round 
									i.fas.fa-link
							img(src="img/project1.jpg", alt="project")
						.portfolio-card__text
							.project-num(style="color: #FFB0A7;") 01
							.project-desk
								h3 Пицца и роллы
								p Онлайн заказы
				.col-md-4
					.portfolio-card.portfolio-card--long
						.portfolio-card__img
							a(href="project-photo.html" target="_blank" style="background-color: rgba(35, 212, 166, .9);").portfolio-card__hover
								span.btn-round 
									i.fas.fa-link
							img(src="img/project2.jpg", alt="project")
						.portfolio-card__text
							.project-num(style="color: #23D4A6;") 02
							.project-desk
								h3 Сайт фотографа
								p Персональный сайт
				.col-md-4
					.portfolio-card
						.portfolio-card__img
							a(href="#" style="background-color: rgba(255, 213, 65, .9);").portfolio-card__hover
								span.btn-round 
									i.fas.fa-link
							img(src="img/project3.jpg", alt="project")
						.portfolio-card__text
							.project-num(style="color: #FFD541;") 03
							.project-desk
								h3 Цветы
								p Интернет-магазин