section.statistik
	.container
		.statistik-content
			.row
				.col-lg-6.col-xl-5.offset-xl-1
					.block-img
						.parallax-item
							img(src="img/layout1.png", alt="img")
						img(src="img/statistik.png", alt="img")
				.col-lg-6.col-xl-5
					.statistik-progress
						h2.title-2.mb-30 Качество наших сайтов вам понравится!
						p.text-16.mb-30 Мы делаем сайты таким образом, что все они адекватно индексируются любыми поисковыми системами и имеют хорошую скорость загрузки страниц. Так же вы получаете от нас поддержку по любому вопросу.
						.progress-block
							ul
								li.progress-item
									.progress-text
										p.val 90%
										p Скорость загрузки Google
									.progress-line
										span
								li.progress-item
									.progress-text
										p.val 99%
										p Удобная админ-панель
									.progress-line
										span
								li.progress-item
									.progress-text
										p.val 100%
										p Поддержка
									.progress-line
										span
						.btn-box.mt-55
							a(href="#!").btn.w-330.btn-icon Заказать от 6000 руб.
								i.fas.fa-caret-right
							a(href="faq.html").btn.btn--light Ответы на вопросы