section.portfolio-page
	.container-medium
		.bredcrb
			a(href="index.html")
					+iconHome
			a(href="#") Портфолио
	.container-xl
		// БЛОК из 6 карточек
		.portfolio-block
			.portfolio-card
				.portfolio-card__img
					a(href="project-pizza.html" target="_blank").portfolio-card__hover
						span.btn-round
							i.fas.fa-link
					img(src="img/new/portfolio/1.jpg", width="560" alt="project")
				.portfolio-card__text
					.project-num 01
					.project-desk
						h3 Готовый сайт пицца&nbsp;и&nbsp;роллы
						p Интернет-магазин
			.portfolio-card.portfolio-card--long
				.portfolio-card__img
					a(href="project-photo.html" target="_blank" ).portfolio-card__hover
						span.btn-round
							i.fas.fa-link
					img(src="img/new/portfolio/2.jpg",  width="560" alt="project")
				.portfolio-card__text
					.project-num 02
					.project-desk
						h3 Готовый сайт фотографа
						p Персональный сайт
			.portfolio-card
				.portfolio-card__img
					a(href="#" ).portfolio-card__hover
						span.btn-round
							i.fas.fa-link
					img(src="img/new/portfolio/3.jpg",  width="560" alt="project")
				.portfolio-card__text
					.project-num 03
					.project-desk
						h3 Готовый сайт доставки&nbsp;цветов
						p Интернет-магазин

			.portfolio-card.portfolio-card--long
				.portfolio-card__img
					a(href="project-photo.html" target="_blank").portfolio-card__hover
						span.btn-round
							i.fas.fa-link
					img(src="img/new/portfolio/4.jpg",  width="560" alt="project")
				.portfolio-card__text
					.project-num 04
					.project-desk
						h3 Готовый сайт для юристов и адвокатов
						p Корпоративный сайт
			.portfolio-card
				.portfolio-card__img
					a(href="#" ).portfolio-card__hover
						span.btn-round
							i.fas.fa-link
					img(src="img/new/portfolio/5.jpg",  width="560" alt="project")
				.portfolio-card__text
					.project-num 05
					.project-desk
						h3 Готовый сайт доставки продуктов
						p Интернет-магазин

			.portfolio-card.portfolio-card--long
				.portfolio-card__img
					a(href="project-photo.html" target="_blank" ).portfolio-card__hover
						span.btn-round
							i.fas.fa-link
					img(src="img/new/portfolio/6.jpg",  width="560" alt="project")
				.portfolio-card__text
					.project-num 06
					.project-desk
						h3 Готовый юридический&nbsp;сайт
						p Корпоративный сайт
		// БЛОК из 6 карточек
		.portfolio-block
			.portfolio-card
				.portfolio-card__img
					a(href="project-pizza.html" target="_blank").portfolio-card__hover
						span.btn-round
							i.fas.fa-link
					img(src="img/new/portfolio/7.jpg",  width="560" alt="project")
				.portfolio-card__text
					.project-num(style="color: #FFB0A7;") 07
					.project-desk
						h3 Готовый сайт доставки обедов
						p Интернет-магазин
			.portfolio-card.portfolio-card--long
				.portfolio-card__img
					a(href="project-photo.html" target="_blank" ).portfolio-card__hover
						span.btn-round
							i.fas.fa-link
					img(src="img/new/portfolio/8.jpg",  width="560" alt="project")
				.portfolio-card__text
					.project-num 08
					.project-desk
						h3 Готовый сайт доставки&nbsp;роллов
						p Интернет-магазин