section.portfolio-page
	.container-medium
		.bredcrb
			a(href="index.html")
					+iconHome
			a(href="#") Портфолио
			a(href="#") Сайт пиццы
		.page-content
			.elements-gride
				.gride-item
					.gride-item__img
						.project-desk
							a(href="#")
								h3 Пицца и роллы
							a(href="#").btn.btn-white Подробнее
						img(src="img/project1.jpg", alt="project")
				.gride-item
					.gride-item__img
						.project-desk
							a(href="#")
								h3 Персональный фотограф
							a(href="#").btn.btn-white Подробнее
						img(src="img/project2.jpg", alt="project")
				.gride-item
					.gride-item__img
						.project-desk
							a(href="#")
								h3 Цветы
							a(href="#").btn.btn-white Подробнее
						img(src="img/project3.jpg", alt="project")