.header-fix
	.container
		.header-fix-content
			.header-top__col
				a(href="index.html").logo
					+logo
				.header-tel
					a(href="#!") +7 (908) 547-50-78
			.header-top__col
				nav.nav-menu
					a(href="#!") Готовые сайты
					a(href="#!") Отзывы
					a(href="#!") Доп. отзывы
					a(href="#!") Вопрос / Ответ
					
				.btn-box
					a(href="#!").avatar-icon
						// ========== AVATAR SVG ==========
						+avatar
						// ========== END AVATAR SVG ==========

					a(href="#!").btn-round.mob-btn#mob-btn2
						// ========== GAMBURGER SVG ==========
						+menuIcon
						// ========== END GAMBURGER SVG ==========

.mobile-phone
	.header-tel
		a(href="#!") +7 (908) 547-50-78
main.project-inner
	header.header
		.header-wrapper
			.container-fluid
				+headerNav
			.project-header-center
				.container-medium
					.project-header__title
						h1.title-1 Потрясающий сайт пиццы и роллов за 1 день!
						p.mt-30 Прежде всего, новая модель организационной деятельности представляет собой интересный эксперимент проверки существующих финансовых и административных условий.
					.btn-box.btn-box--center.mt-40
						a(href="#!").btn.w-300.btn-blue Смотреть ДЕМО
						a(href="#!").btn.w-300 Заказать сайт
					.mockup-group
						img(src="img/projectPage/1.png", width="1170" alt="img")
	section.project-page-info
		.container-medium
			// ============= БЛОК С МИНИ-ОПИСАНИЕМ =================
			.project-page-deskrip
				.boldText 
					p Готовый сайт по доставке обедов
				.light-text
					p Полностью готовый сайт, который будет установлен на ваш хостинг и домен. Без абонентской платы и прочих ограничений. Приобретая готовый сайт, вам останется только наполнить его своим #possibility-textконтентом.
			
			// ============= БЛОК ВОЗМОЖНОСТИ =================
			.project-possibility.pt-140
				.medium-head 
					p Повышайте конкурентоспособность бизнеса в условиях кризиса с помощью следующих возможностей:
				.project-possibility-content
					.project-possibility-text#possibility-text
						h1  Привет
						#hide-possiblDesk-btn.possibility-btn Скрыть
					.project-possibility-cards#possibility-cards
						.row 
							// ============= карточка квадратная =================
							.col-md-4 
								.possibl-card
									.possibl-card__top
										h4 Быстрый <br> старт
										.possibl-card__icon 
											// ============= SVG =================
											+poss1
											// ============= END SVG =================
									.text-basic
										p Бесплатное подключение сайта на ваш хостинг и домен занимает от 1 до 5 дней.
							
							// ============= карточка квадратная =================
							.col-md-4 
								.possibl-card
									.possibl-card__top
										h4 Дизайн и скорость
										.possibl-card__icon
											// ============= SVG =================
											+poss2
											// ============= END SVG =================
									.text-basic
										p Высокая скорость работы и поддержка всех устройств. Современный интуитивно понятный интерфейс.
							// ============= карточка квадратная =================
							.col-md-4 
								.possibl-card
									.possibl-card__top
										h4 Приветствуем идеи
										.possibl-card__icon
											// ============= SVG =================
											+poss3
											// ============= END SVG ================= 
									.text-basic
										p Приветствуем новые идеи и стараемся создавать лучший интерфейс для наших клиентов.
							
							// ============= ДЛИННАЯ КАРТОЧКА =================
							.col-md-8 
								.possibl-card
									.possibl-card__top
										h4 Продвижение
										.possibl-card__icon
											// ============= SVG =================
											+poss4
											// ============= END SVG =================
									.text-basic
										p Продвижение сайтов в поисковых системах
							// ============= карточка квадратная =================
							.col-md-4 
								.possibl-card
									.possibl-card__top
										h4 Интеграции
										.possibl-card__icon
											// ============= SVG ================= 
											+poss5
											// ============= END SVG =================
									.text-basic
										p Банковские эквайринг, платежные системы, FrontPad, R-Keeper и другие CRM системы.
							// ============= карточка квадратная =================
							.col-md-4 
								.possibl-card
									.possibl-card__top
										h4 Персонализация
										.possibl-card__icon
											// ============= SVG =================
											+poss6
											// ============= END SVG =================
									.text-basic
										p Возможность менять предустановленные цвета под корпоративный стиль компании.
							
							// ============= карточка квадратная =================
							.col-md-4 
								.possibl-card
									.possibl-card__top
										h4 Реклама
										.possibl-card__icon
											// ============= SVG =================
											+poss7
											// ============= END SVG =================
									.text-basic
										p Настройка рекламы в Яндекс директ и Google AdWords
							
							// ============= карточка квадратная =================
							.col-md-4 
								.possibl-card
									.possibl-card__top
										h4 Служба поддержки
										.possibl-card__icon
											// ============= SVG =================
											+poss8
											// ============= END SVG =================
									.text-basic
										p После покупки готового сайта, каждый клиент получает доступ к нашей службе поддержки.
							
						#show-possibDesk-btn.possibility-btn  Читать подробнее
			
					// ============= БЛОК С КНОПКАМИ =================
					.project-possibility-footer.pt-140 
						.boldText 
							p Быть в онлайне теперь выгодно и легко. <br> Пора действовать!
						.btn-box.btn-box--center.mt-50
							a(href="#!").btn.w-300.btn-blue Смотреть ДЕМО
							a(href="#!").btn.w-300 Заказать сайт
	
	
	//================ВОЗМОЖНОСТИ ГОТОВОГО САЙТА =======================
	section.project-benefits.pt-140
		.container-medium 
			.project-benefits-title.boldText 
				h3 Возможности вашего готового сайта:
			.project-benefits-content.mt-40 
				.content-column
					.content-column__title
						p В сайт уже включено:
					.content-column__list
						ul 
							li Адаптивность под любые устройства для всех экранов (ПК, Планшет, Мобильные)
							li Неограниченное кол-ва товаров и категорий товаров
							li Удобная админ-панель
							li Заявки не только на почте, но и из админ панели
							li Корзина на AJAX
							li С каждой формы происходит отправка писем администратору сайта
							li Есть возможность просмотреть историю заявок со всех форм
			
				.content-column
					.content-column__title
						p Можно сделать дополнительно:
					.content-column__list
						ul 
							li Доп. цены к товару с различными характеристиками и учет остатков 
							li Покупка в один клик через модальное окно.
							li Бонусная система 
							li Улучшенные промо-коды 
							li Конструктор квизов
							li Система скидок и одноразовые купоны 
							li Дополнительные цены, зависящие от выбранного количества товара
							li Интеграция с платежной системой Яндекс.Касса и оплатой картой онлайн
							li Массовая рассылка e-mail сообщений
							li Создание модулей и разделов отзывов, комментариев, вопросов 
							li Интеграция с 1С и crm фронтпад
							li Продвижение сайта в поисковиках
							li Настройка рекламных кампаний в Яндекс и Гугл
							li Импорт и экспорт товаров в GoogleSheets
	
	//================ЧТО ВХОДИТ В СТОИМОСТЬ =======================
	section.project-options.pt-140
		.container-medium 
			.project-options-content 
				.project-options-title.boldText.text-center 
					h3 Сколько стоит установить готовый сайт доставки еды?
				.project-options-columns
					.options-card
						.options-card-title
							p Базовая версия
						.options-card-body
							.options-card-body__top 
								.newprice
									p 9 000 руб
								.oldprice
									p 40 000 руб.
							.options-card-body__center
								p.text-upper НУЖНО ДЛЯ ЗАКАЗА:
								p.text-basic Пришлите данные логин и пароль или FTP к хостингу и базе данных (Имя пользователя, пароль, название базы и путь к ней) и сам домен! Советуем хостинг: mchost.ru - на нем проблем и конфликтов точно не будет - проверено! Промокод, который дает вам 3 месяца хостинга mchost.ru бесплатно по тарифу «Мак-10» #[span A583-FFB3-8F5A-7EE3]
							.btn-box--center.mt-40
								a(href="#!").btn.w-300 Добавить в корзину 

					
					.options-card-light
						p.text-upper Чем можно дополнить базовую версию?
						p.text-basic Помимо тех функциональных возможностей, что включает в себя базовая версия готового сайта доставки еды, за дополнительную оплату вы всегда можете подключить дополнительные модули. 
						p.text-basic Они позволят вам расширить функционал сайта, который поможет вам вывести ваш бизнес на совершенно иной уровень и быть на голову выше ваших конкурентов.
						.btn-box--center.mt-40
							a.btn.w-300.btn--light( href="#!")
								span Узнать больше
	
	//================ВОПРОСЫ И ОТВЕТЫ =======================
	section.project-faq.pt-140
		.container-medium
			.project-faq-content
				#answers
					.card
						#headingOne.card-header
							h5
								button.btn-link(type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
									| Что лучше - купить сайт готовый или заказать с нуля? 
									span.arrow.rotate
										+arrow
						#collapseOne.collapsable.collapse.show(aria-labelledby="headingOne" data-parent="#answers")
							.card-body 	Мы делаем сайты таким образом, что все они адекватно индексируются любыми поисковыми системами и имеют хорошую скорость загрузки страниц. Так же вы получаете от нас поддержку по любому вопросу.
							
					.card
						#headingTwo.card-header
							
							h5
								button.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
									| Готовые решения - что это такое? 
									span.arrow
										+arrow
						#collapseTwo.collapsable.collapse(aria-labelledby="headingTwo" data-parent="#answers")
							.card-body Мы делаем сайты таким образом, что все они адекватно индексируются любыми поисковыми системами и имеют хорошую скорость загрузки страниц. Так же вы получаете от нас поддержку по любому вопросу.
								
					.card
						#headingThree.card-header
							h5
								button.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree")
									| Преимущества готовых сайтов
									span.arrow
										+arrow
						#collapseThree.collapsable.collapse(aria-labelledby="headingThree" data-parent="#answers")
							.card-body Мы делаем сайты таким образом, что все они адекватно индексируются любыми поисковыми системами и имеют хорошую скорость загрузки страниц. Так же вы получаете от нас поддержку по любому вопросу.
					.card
						#headingFour.card-header
							h5
								button.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour")
									| Сколько стоит создать сайт с нуля?
									span.arrow
										+arrow
						#collapseFour.collapsable.collapse(aria-labelledby="headingFour" data-parent="#answers")
							.card-body Мы делаем сайты таким образом, что все они адекватно индексируются любыми поисковыми системами и имеют хорошую скорость загрузки страниц. Так же вы получаете от нас поддержку по любому вопросу.

					.card
						#headingFive.card-header
							h5
								button.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive")
									| В чем отличие сайта на шаблоне от сайта с нуля?
									span.arrow
										+arrow
						#collapseFive.collapsable.collapse(aria-labelledby="headingFive" data-parent="#answers")
							.card-body Мы делаем сайты таким образом, что все они адекватно индексируются любыми поисковыми системами и имеют хорошую скорость загрузки страниц. Так же вы получаете от нас поддержку по любому вопросу.
					.card
						#headingSix.card-header
							h5
								button.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix")
									| Нужно ли, что то ещё доплачивать?
									span.arrow
										+arrow
						#collapseSix.collapsable.collapse(aria-labelledby="headingSix" data-parent="#answers")
							.card-body Мы делаем сайты таким образом, что все они адекватно индексируются любыми поисковыми системами и имеют хорошую скорость загрузки страниц. Так же вы получаете от нас поддержку по любому вопросу.
					.card
						#headingSeven.card-header
							h5
								button.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven")
									| Я совсем не понимаю в программировании. Смогу ли я управлять интернет-магазином?
									span.arrow
										+arrow
						#collapseSeven.collapsable.collapse(aria-labelledby="headingSeven" data-parent="#answers")
							.card-body Мы делаем сайты таким образом, что все они адекватно индексируются любыми поисковыми системами и имеют хорошую скорость загрузки страниц. Так же вы получаете от нас поддержку по любому вопросу.
	
	//================SLIDER =======================
	section.project-carousel.pt-140
		.container-medium
			.project-carousel-wrapper.owl-carousel
				//==========  ONE SLIDE ==================
				.project-carousel-item
					.row
						.col-md-6.col-lg-8
							.project-carousel-img
								img(src="img/projectPage/slider1.png", width="800"  alt="slider")
						.col-md-6.col-lg-4
							.project-carousel-text
								.project-carousel__icon
									img(src="img/projectPage/slider-logo1.png", width="190" alt="logo")
								.project-carousel__desk
									p.basic-text Сочные бургеры и хрустящая пицца, вкуснейшие супчики, свежие салаты и разнообразные закуски – все это «ХРУСТ»!!!
								.project-carousel__btn
									a(href="#!").btn.btn-grey  Смотреть сайт
				//==========  ONE SLIDE ==================
				.project-carousel-item
					.row
						.col-md-6.col-lg-8
							.project-carousel-img
								img(src="img/projectPage/slider1.png", width="800"  alt="slider")
						.col-md-6.col-lg-4
							.project-carousel-text
								.project-carousel__icon
									img(src="img/projectPage/slider-logo1.png", width="190" alt="logo")
								.project-carousel__desk
									p.basic-text СЛАЙДЕР 2 Сочные бургеры и хрустящая пицца, вкуснейшие супчики, свежие салаты и разнообразные закуски – все это «ХРУСТ»!!!
								.project-carousel__btn
									a(href="#!").btn.btn-grey  Смотреть сайт
				//==========  ONE SLIDE ==================
				.project-carousel-item
					.row
						.col-md-6.col-lg-8
							.project-carousel-img
								img(src="img/projectPage/slider1.png", width="800"  alt="slider")
						.col-md-6.col-lg-4
							.project-carousel-text
								.project-carousel__icon
									img(src="img/projectPage/slider-logo1.png", width="190" alt="logo")
								.project-carousel__desk
									p.basic-text СЛАЙДЕР 3 Сочные бургеры и хрустящая пицца, вкуснейшие супчики, свежие салаты и разнообразные закуски – все это «ХРУСТ»!!!
								.project-carousel__btn
									a(href="#!").btn.btn-grey  Смотреть сайт


