section.portfolio-page
	.container-medium
		.bredcrb
			a(href="index.html")
					+iconHome
			a(href="portfolio.html") Портфолио
			a(href="#") Сайт персонального фотографа
			
		.page-content
			.row
				.col-md-6.col-xl-7
					.page-content__col
						.project-preview.mb-40
							img(src="img/photo-preview.jpg", alt="preview")
						.project-video.mb-40
							video(src="video/video.mp4" width="100%" height="auto" controls="controls" poster="img/photo-poster.png")
						.project-video.mb-40
							video(src="video/video.mp4" width="100%" height="auto" controls="controls" poster="img/video-poster.png")
							
				.col-md-6.col-xl-5
					.project-deskrip
						.header-block
							p Описание
							h2 Качество наших сайтов вам понравится!
							.social-share
								p Поделиться
								.icons-block
									a(href="#!")
										i.fab.fa-facebook-f
									a(href="#!")
										i.fab.fa-telegram-plane
									a(href="#!")
										i.fab.fa-twitter
									a(href="#!")
										i.fab.fa-youtube
									a(href="#!")
										i.fab.fa-pinterest-p
							.text-content
								p Мы делаем сайты таким образом, что все они адекватно индексируются любыми поисковыми системами и имеют хорошую скорость загрузки страниц. Так же вы получаете от нас поддержку по любому вопросу.

						.features
							ul
								li
									h5 возможности:
									p Пицца, роллы, шашлыки, еда с доставкой
								li
									h5 особенности:
									p Кроссбраузерность, Адаптивный дизайн 
								li
									h5 демо сайта:
									p
										a(href="#!") website.com
						button.btn Заказать готовый сайт