.header-fix
	.container
		.header-fix-content
			.header-top__col
				a(href="index.html").logo
					+logo
				.header-tel
					a(href="#!") +7 (908) 547-50-78
			.header-top__col
				nav.nav-menu
					a(href="#!") Готовые сайты
					a(href="#!") Отзывы
					a(href="#!") Доп. отзывы
					a(href="#!") Вопрос / Ответ
					
				.btn-box
					a(href="#!").avatar-icon
						// ========== AVATAR SVG ==========
						+avatar
						// ========== END AVATAR SVG ==========

					a(href="#!").btn-round.mob-btn#mob-btn2
						// ========== GAMBURGER SVG ==========
						+menuIcon
						// ========== END GAMBURGER SVG ==========

.mobile-phone
	.header-tel
		a(href="#!") +7 (908) 547-50-78
main.project-inner
	header.header
		.container-fluid
			+headerNav
		.project-header-center
			.container-medium
				.project-header__title
					h1.title-1 Потрясающий сайт пиццы и роллов за 1 день!
					p.mt-30 Прежде всего, новая модель организационной деятельности представляет собой интересный эксперимент проверки существующих финансовых и административных условий.
				.btn-box.btn-box--center.mt-40
					a(href="#!").btn.w-300.btn-blue Смотреть демо
					a(href="#!").btn.w-300 Заказать сайт
				.mockup-group
					img(src="img/projectPage/1.jpg", width="1170" alt="img")