.header-fix
	.container
		.header-fix-content
			.header-top__col
				a(href="index.html").logo
					+logo
				.header-tel
					a(href="#!") +7 (908) 547-50-78
			.header-top__col
				nav.nav-menu
					a(href="#!") Готовые сайты
					a(href="#!") Отзывы
					a(href="#!") Доп. отзывы
					a(href="#!") Вопрос / Ответ
					
				.btn-box
					a(href="#!").avatar-icon
						// ========== AVATAR SVG ==========
						+avatar
						// ========== END AVATAR SVG ==========

					a(href="#!").btn-round.mob-btn#mob-btn2
						// ========== GAMBURGER SVG ==========
						+menuIcon
						// ========== END GAMBURGER SVG ==========

.mobile-phone
	.header-tel
		a(href="#!") +7 (908) 547-50-78
main.project-inner
	header.header
		.header-wrapper
			.container-fluid
				+headerNav
			.project-header-center
				.container-medium
					.project-header__title
						h1.title-1 Потрясающий сайт пиццы и роллов за 1 день!
						p.mt-30 Прежде всего, новая модель организационной деятельности представляет собой интересный эксперимент проверки существующих финансовых и административных условий.
					.btn-box.btn-box--center.mt-40
						a(href="#!").btn.w-300.btn-blue Смотреть ДЕМО
						a(href="#!").btn.w-300 Заказать сайт
					.mockup-group
						img(src="img/projectPage/1.png", width="1170" alt="img")
	section.project-page-body
		.container-medium
			// ============= БЛОК С МИНИ-ОПИСАНИЕМ =================
			.project-page-deskrip
				.boldText 
					p Готовый сайт по доставке обедов
				.light-text
					p Полностью готовый сайт, который будет установлен на ваш хостинг и домен. Без абонентской платы и прочих ограничений. Приобретая готовый сайт, вам останется только наполнить его своим контентом.
			
			// ============= БЛОК ВОЗМОЖНОСТИ =================
			.project-possibility.pt-140
				.medium-head 
					p Повышайте конкурентоспособность бизнеса в условиях кризиса с помощью следующих возможностей:
				.project-possibility-cards 
					.row 
						.col-md-4 
							.possibl-card
								.possibl-card__top
									h4 Быстрый <br> старт
									.possibl-card__icon 

								.text-basic
									p Бесплатное подключение сайта на ваш хостинг и домен занимает от 1 до 5 дней.

						.col-md-4 
							.possibl-card
								.possibl-card__top
									h4 Дизайн и скорость
									.possibl-card__icon 

								.text-basic
									p Бесплатное подключение сайта на ваш хостинг и домен занимает от 1 до 5 дней.
						.col-md-4 
							.possibl-card
								.possibl-card__top
									h4 Быстрый <br> старт
									.possibl-card__icon 

								.text-basic
									p Бесплатное подключение сайта на ваш хостинг и домен занимает от 1 до 5 дней.
						.col-md-8 
							.possibl-card
								.possibl-card__top
									h4 Быстрый <br> старт
									.possibl-card__icon 

								.text-basic
									p Бесплатное подключение сайта на ваш хостинг и домен занимает от 1 до 5 дней.
						.col-md-4 
							.possibl-card
								.possibl-card__top
									h4 Быстрый <br> старт
									.possibl-card__icon 

								.text-basic
									p Бесплатное подключение сайта на ваш хостинг и домен занимает от 1 до 5 дней.
						.col-md-4 
							.possibl-card
								.possibl-card__top
									h4 Быстрый <br> старт
									.possibl-card__icon 

								.text-basic
									p Бесплатное подключение сайта на ваш хостинг и домен занимает от 1 до 5 дней.
						.col-md-4 
							.possibl-card
								.possibl-card__top
									h4 Быстрый <br> старт
									.possibl-card__icon 

								.text-basic
									p Бесплатное подключение сайта на ваш хостинг и домен занимает от 1 до 5 дней.
						.col-md-4 
							.possibl-card
								.possibl-card__top
									h4 Быстрый <br> старт
									.possibl-card__icon 

								.text-basic
									p Бесплатное подключение сайта на ваш хостинг и домен занимает от 1 до 5 дней.
				
