extends ../layouts/layout.pug

block content
	+projectHeader('headerBg2', 'Blog details')
	include ../sections/_blog-details.pug

	include ../sections/_footer.pug


block variables
	-var title = "Blog details";