extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	include ../sections/_new-portfolio.pug
	include ../sections/_main-about.pug
	
	include ../sections/_clients.pug
	include ../sections/_main-statistik.pug	
	include ../sections/_main-blog.pug
	include ../sections/_footer.pug


block variables
	-var title = "Page";
	