extends ../layouts/layout.pug

block content
	+projectHeader('headerBg1', 'Портфолио')
	include ../sections/_portfolio-page.pug

	include ../sections/_footer.pug


block variables
	-var title = "Portfolio";