extends ../layouts/layout.pug

block content
	+projectHeader('Портфолио готовых сайтов')
	include ../sections/_portfolio-page.pug

	include ../sections/_footer.pug


block variables
	-var title = "Portfolio";