extends ../layouts/layout.pug

block content
	+projectHeader('headerBg1', 'Сайт пиццы и роллов')
	include ../sections/_project-pizza.pug

	include ../sections/_footer.pug


block variables
	-var title = "Pizza";